<%- include("partials/header", { bot, user, path, title: "Server List" }) %>

<div style="display: flex; flex-wrap: wrap; justify-content: center;">
  <% user.guilds.forEach(guild => {
      const permsOnGuild = new perms(guild.permissions_new);
      if(!permsOnGuild.has(perms.FLAGS.MANAGE_GUILD)){
      const permissiontext = "No Permission"
      const permissioncolor = "danger"
      } else {
      const permissiontext = "Edit Settings"
      const permissioncolor = "success"
      
      
  %>

    <div class="card" style="max-width: 12rem; margin: 2rem; min-width: 10em;">
    <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=256" class="card-img-top" style="max-width: 18rem;">` : `<img src="https://cdn.glitch.com/a6b425a1-7199-4b5f-947f-584326c2c90e%2F4c84a797-48cf-448f-94f7-07798b5f61db.image.png?v=1632346374647" class="card-img-top" style="max-width: 18rem;">` %>
      <div class="card-body">
        <h5 style="color: #fff" class="card-title"><%= guild.name %></h5>
        <%  {%>
          <a style="color: #fff" href="/dashboard/<%- guild.id %>" class="btn btn-danger text-white">No Permission</a>
        <%};%>
        <% if (bot.guilds.cache.get(guild.id)) { %>
          <a style="color: #fff" href="/dashboard/<%- guild.id %>" class="btn btn-<%- permissioncolor %> text-white">Edit Settings</a>
        <% } else { %>
          <a href="<%= `https://discord.com/oauth2/authorize?client_id=${bot.user.id}&guild_id=${guild.id}&scope=bot&response_type=code&redirect_uri=https%3A%2F%2Fkurama.beastcodz.ml%2Fcallback`  %>" class="btn btn-primary text-white" style="color: #fff">Invite Bot</a>
        <% } %>
      </div>
    </div>
  <%
     }});
  %>
</div>

<%- include("partials/footer") %>